<!-- <div class="row">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Landing Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div> -->
<nav class="nav flex-column">
  <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="nav-link" routerLink="/home" routerLinkActive="active">Landing Page</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>
